.box{
  height: 250px;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: cornflowerblue;
  color: white;
  font-weight: bolder;
  font-size: 40px;
  border-radius: 20px;
}

button{
  height: 50px;
  width: 50px;
  font-size: 30px;
  background-color: white;
  font-style: normal;
  outline: none;
  margin-left: 10px;
  margin-right: 10px;
}